<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<object th:include="fragments/fragment :: title" th:remove="tag"></object>
	<object th:include="fragments/fragment :: css" th:remove="tag"></object>
	<object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment ::navbar"></nav>
	<div class="jumbotron" th:object="${jabatan}">
		<div class=lead>
			<h3 th:text="'Detail Jabatan ' + *{nama}"></h3>
			<table class="table table-borderless" style="margin-left:auto;">
				<tbody>
					<tr>
						<td>Nama</td>
						<td th:text="*{nama}"></td>
					</tr>
	
					<tr>
						<td>Deskripsi</td>
						<td th:text="*{deskripsi}"></td>
					</tr>
						<td>Gaji</td>
						<td th:text="'Rp'+ *{gajiPokok}"></td>
					</tr>
					<tr>
						<td>Jumlah Pegawai</td>
						<td th:text="${jumlahPegawai}"></td>
					</tr>
				</tbody>
			</table>
			<br>			
		</div>
		<div>
			<form th:action="@{/jabatan/ubah}"  method="GET" >
				<input type="hidden" name="idJabatan" th:value="*{id}">
				<button class="btn btn-primary btn-md" type="submit">Ubah</button>
			</form>
			<br>
			<form th:action="@{/jabatan/hapus}"  method="POST">
				<input type="hidden" name="idJabatan" th:value="*{id}">
				<button class="btn btn-primary btn-md" type="submit">Hapus</button>
			</form>
		</div>
		<br>
		<div class="lead">
		  	<form th:action="@{/jabatan/tambah}"  method="GET">
			    <label for="idJabatan">Tambah Jabatan</label>
			    <br>
				<button class="btn btn-primary btn-md" type="submit">Tambah</button>
			</form>
		  </div>
		
	</div>
  	
		  	
	
	
</body>
</html>